In [1]:
import os
import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

In [2]:
from src import data_sourcing
from src import data_splitting
from src import data_preprocessing
from src import feature_engineering
from src import monitoring
from src import modeling

In [3]:
data_sourcing.get()

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,species
0,39.1,18.7,181.0,3750.0,male,Adelie
1,39.5,17.4,186.0,3800.0,female,Adelie
2,40.3,18.0,195.0,3250.0,female,Adelie
3,NaN,NaN,NaN,NaN,NaN,Adelie
4,36.7,19.3,193.0,3450.0,female,Adelie
...,...,...,...,...,...,...
339,55.8,19.8,207.0,4000.0,male,Chinstrap
340,43.5,18.1,202.0,3400.0,female,Chinstrap
341,49.6,18.2,193.0,3775.0,male,Chinstrap
342,50.8,19.0,210.0,4100.0,male,Chinstrap
343,50.2,18.7,198.0,3775.0,female,Chinstrap